*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2D2013;
}


header>h1{
text-align: center;
color: #FFCB69;
font-size: 48px;



}
footer{
    height: 200px;
    width: 100%;
}